<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<form th:action="@{/guardar}" th:object="${proyecto}" method="post">
			<div class="form-group row">
				<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label for="projectManager" class="col-sm-2 col-form-label">Project Manager</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{projectManager}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('projectManager')}" th:errors="*{projectManager}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label for="descripcion" class="col-sm-2 col-form-label">Descripcion</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{descripcion}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label for="desarrollador" class="col-sm-2 col-form-label">Desarrollador</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" th:field="*{desarrollador}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('desarrollador')}" th:errors="*{desarrollador}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label for="fechaInicio" class="col-sm-2 col-form-label">Fecha de Inicio</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" th:field="*{fechaInicio}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label for="fechaEntrega" class="col-sm-2 col-form-label">Fecha de Entrega</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" th:field="*{fechaEntrega}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('fechaEntrega')}" th:errors="*{fechaEntrega}"></small>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" th:value="${labelBoton}" class="btn btn-primary" />
				</div>
				<div class="col-sm-6">
				<a class="btn btn-danger btn-xs" href="#about"
					th:href="@{/consultaproyectos}">Cancelar</a>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>